.card {
  display: flex;
  flex: 0 0 19%;
  margin: 0 2px;
  position: relative;
  transition: transform 300ms ease 100ms;
  max-height: 200px;
}

.card:hover {
  transform: scale(1.5) !important;
  cursor: pointer;
}

.card:hover ~ .card {
  transform: translateX(25%);
}

.card:hover .card__overlay {
  opacity: 1;
}

.card:hover .card__content {
  opacity: 1;
}

.card__content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 1.75rem;
  color: white;
  position: absolute;
  opacity: 0;
  transition: opacity 300ms ease-in-out 100ms;
}

.card__content__description {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  font-size: 1.1rem;
}

.card__content__description__header {
  font-size: 1.75rem;
  margin-bottom: 0.5em;
}

.card__content__description__overview {
  line-height: 1.2rem;
  margin-top: 0;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  overflow-y: auto;
  text-indent: 2rem;
  width: 100%;
  justify-content: flex-end;
  /* font-size: 1.2rem; */
}

.card__content__description__overview::-webkit-scrollbar {
  background: transparent;
  width: 0 !important;
}

.card__content__description__vote {
  font-size: 1.3rem;
  font-weight: 900;
  color: #46cd66;
  padding: 0;
  margin-bottom: 0.5rem;
}

.card__content__icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 0.75rem;
}

.card__icon {
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
  padding: 0.6rem;
  margin-bottom: 0.75rem;
  border-radius: 50%;
  border: 1px solid gray;
  transition: transform 300ms ease-in-out 100ms;
}

.card__icon:hover {
  transform: scale(1.15);
  border-color: white;
}

.card__icon i {
  font-size: inherit;
  border: none;
}

.card__image img {
  width: 100%;
  height: 100%;
}

.card__overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out 100ms;
}

/* For tablets and smaller devices */
@media (max-width: 991.98px) {
  .card {
    color: white;
    position: relative;
    flex: 0 0 30%;
    margin: 0 4px;
    max-height: 400px;
  }

  .card:hover {
    transform: unset !important;
  }

  .card:hover ~ .card {
    transform: unset !important;
  }

  .card__content {
    display: none;
    flex-direction: column;
    padding: 1px;
  }
  .card__content__icons {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .card__icon {
    font-size: 2.5rem;
  }

  .card__content__description {
    text-align: center;
    font-size: 1.7rem;
    width: 100%;
  }
  .card__content__description__header {
    font-size: 2.2rem;
  }
  .card__content__description__overview {
    line-height: initial;
    max-height: 100%;
    margin-bottom: 5px;
  }
  .card__content__description__vote {
    font-size: 2rem;
  }
}

/* For landscape phones, low res tablets */
@media (max-width: 767.98px) {
  .card {
    flex: 0 0 38%;
  }
}

/* For phones */
@media (max-width: 575.98px) {
  .card {
    flex: 0 0 45%;
    margin: 0 6px;
  }
  .card__content__icons {
    justify-content: center;
  }
}
