.featured {
  position: relative;
  height: 80vh;
  padding: 0 5rem;
}

.featured__content {
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.featured__background {
  top: 6rem;
  left: 0;
  position: absolute;
  z-index: -1;
  height: inherit;
  width: 100%;
  background-color: transparent;
}

.featured__background img {
  opacity: 0.04;
  width: 100%;
  height: 100%;
}

.featured__image {
  height: 70%;
  width: 60%;
}

.featured__image img {
  width: 100%;
  height: 100%;
}

.featured__lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
  width: 40%;
  color: white;
}

/* For tablets and smaller devices */
@media (max-width: 991.98px) {
  .featured {
    min-height: 60vh;
  }
  .featured__background {
    top: initial;
    height: 100%;
  }
  .featured__background img {
    opacity: .2;
  }
  
  .featured__image {
    display: none;
  }

  .featured__lead {
    text-align: center;
    width: 100%;
    padding: 0;
  }
}
/* For phones */
@media (max-width: 575.98px) {
  .featured {
    padding: 0 1rem;
    height: initial;
  }
}