.lead {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}
.lead__overlay {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
}

.lead__content {
    overflow: hidden;
    color: white;
    position: absolute;
    top: 15%;
    padding-left: 6em;
    width: 40%;
    /* height: auto; */
    max-height: 60%;
}
.lead__content__description {
    font-size: 1.5rem;
}

.lead__content__title {
    font-size: 5rem;
    padding-bottom: .75em;
}

.lead__content__icons {
    margin-bottom: 2em;
}

.lead__content__icons__icon {
    padding-right: 1.25em;
}

.lead__content__icons__button {
    border-radius: .25em;
    font-size: 1.25rem;
    padding: .75em 2.3em;
    margin-right: 1em;
    border: none;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
}
