.search {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 7rem;
  padding: 0 5rem;
  width: 100%;
  height: 100%;
  min-height: 75vh;
}

.search__results {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card--search {
  /* flex: auto 1 40%; */
  margin: 0.5rem;
  max-height: 300px;
  transition: unset;
}

.card--search:hover {
  transform: unset !important;
}

.card--search:hover ~ .card {
  transform: unset !important;
}

.card--search .card__content {
  flex-direction: column;
}

.card--search .card__content__description {
  max-height: 90%;
  width: initial;
}

.card--search .card__content__description__overview {
  font-size: 1.6rem;
  line-height: initial;
}

.card--search .card__content__description__vote {
  font-size: 1.7rem;
}

.card--search .card__content__icons {
  margin-left: 0;
  flex-direction: row;
  justify-content: center;
}

.card--search .card__content__icons .card__icon {
  flex-basis: 5.5rem;
  font-size: 2.2rem;
  margin-bottom: 0;
}

.card--search .card__content__icons .card__icon:not(:last-child) {
  margin-right: 1rem;
}

/* For tablets and smaller devices */
@media (max-width: 991.98px) {
  .search {
    padding: 0 2rem;
  }
}