* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #141414;
}

.overlay--black {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.visible {
  opacity: 1!important;
}

/* Revealing animation */
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}

/* Slide in animation */
@keyframes slideIn {
  0% {
    transform: translate(-100%)
  }
  100% {
    transform: translate(0%);
  }
}

/* Tablets and smaller devices */
@media (max-width: 991.98px) {
  .main-content {
    margin-top: 7rem;
  }
}
